<nav class="flex mt-1 items-center 2xl:w-9/12 3xl:w-11/12">
  {# <img class="w-16 h-16 sm:w-20 sm:h-20 rounded-full border-white border-4 object-cover profile-pic" src="img/profile.jpg" alt="profile-pic"/> #}
  <a       
    role="menuitem"
    href="/"
    class="font-Overlock uppercase text-3xl 3xl:text-4xl hover:text-white transition tracking-wider hero-link cursor-pointer profile-pic">
    Simon Fessehaye
  </a>
  <div class="sm:flex justify-between text-white lg:text-gray-200 ml-auto hidden ">
    <a       
          role="menuitem"
          href="/about/"
          class="font-Mada font-bold mx-4 text-3xl 3xl:text-4xl hover:text-white transition hero-link cursor-pointer nav-ref">
          About
        </a>
    <a       
          role="menuitem"
          href="/projects/"
          class="font-Mada font-bold mx-4 text-3xl 3xl:text-4xl hover:text-white transition hero-link cursor-pointer nav-ref">
          Projects
        </a>
    <a       
          role="menuitem"
          href="/resume/"
          class="font-Mada font-bold mx-4 text-3xl 3xl:text-4xl hover:text-white transition hero-link cursor-pointer nav-ref">
          Resume
        </a>
  </div>
  <div class="sm:hidden flex ml-auto breadcrumb">
    <svg
            class="w-16 h-16 sm:w-20 sm:h-20"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
      <path
              fillRule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
              clipRule="evenodd"
/>
    </svg>
  </div>
</nav>