<script type="application/ld+json">
{
    "@context": "http://www.schema.org",
    "@type": "Person",
    "@id": "https://jay.holtslander.ca/#person",
    "name": "Simon Fessehaye",
    "alternateName": "Simon Fessehaye",
    "nationality": "Canadian",
    "birthPlace" : {
        "@type": "Place",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Edmonton",
            "addressRegion": "AB",
            "addressCountry": "Canada"
        }
    },
    "alumniOf": [
        {
        "@type": "CollegeOrUniversity",
        "name": "University of Alberta",
        "sameAs": "https://en.wikipedia.org/wiki/University_of_Alberta"
        }
    ],
    "gender": "Male",
    "Description": "Front End Developer",
    "jobTitle": "Software Developer",
    "worksFor": [
        {
            "@type": "Organization",
            "name": "Urban Logiq",
            "sameAs": [
                "https://urbanlogiq.com/"
            ]
        }
    ],
    "url": "https://www.simonfessehaye.com",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "Vancouver",
        "addressRegion": "BC",
        "addressCountry": "Canada"
    },
    "sameAs": [
        "https://www.linkedin.com/in/fessehaye/",
        "https://github.com/fessehaye",
        "https://www.instagram.com/sfessehaye/"
    ]
}
</script>