<!DOCTYPE html>
<html class="bg-indigo-500" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume | Simon Fessehaye</title>
        <meta name="title" content="Simon Fessehaye's Personal Website">
        <meta name="description" content="Hey, my name is Simon! I am a Front End Developer living in Edmonton, Alberta.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://fessehaye.netlify.app/">
        <meta property="og:title" content="Simon Fessehaye's Personal Website">
        <meta property="og:description" content="Hey, my name is Simon! I am a Front End Developer living in Edmonton, Alberta.">
        <meta property="og:image" content="/img/current.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://fessehaye.netlify.app/">
        <meta property="twitter:title" content="Simon Fessehaye's Personal Website">
        <meta property="twitter:description" content="Hey, my name is Simon! I am a Front End Developer living in Edmonton, Alberta.">
        <meta property="twitter:image" content="/img/current.png">
        <meta name="author" content="{{site.author}}">
        <meta name="theme-color" content="#5a67d8"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Mada:wght@700&family=Overlock:wght@900&family=Proza+Libre&display=swap">

        <meta name="google-site-verification" content="P0s7F72Yl1xKtNdoc_3w5sS3zM0Y2VC0bP12wtSCmLM"/>
        <!-- async CSS -->
        <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Mada:wght@700&family=Overlock:wght@900&family=Proza+Libre&display=swap">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" href="/img/icons/icon-192x192.png">
        {% include "../components/_json-ld.njk" %}
        <noscript>
            <style>body.hidden{display:block !important}</style>
        </noscript>
    </head>
    <body class="hidden">
        <div class="bg-indigo-500 w-full min-h-screen text-white font-default">
            {% include "../components/_nav.njk" %}
            {% include "../components/_hero-mobile-nav.njk" %}
            <main class="px-5 py-5">{{ content | safe }}</main>
            {% include "../components/_footer.njk" %}
        </div>
        {% block js %}{% endblock %}
    </body>
</html>
