<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home | Simon Fessehaye</title>
        <meta name="title" content="Simon Fessehaye's Personal Website">
        <meta name="description" content="Hey, my name is Simon! I am a Front End Developer living in Edmonton, Alberta.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://fessehaye.netlify.app/">
        <meta property="og:title" content="Simon Fessehaye's Personal Website">
        <meta property="og:description" content="Hey, my name is Simon! I am a Front End Developer living in Edmonton, Alberta.">
        <meta property="og:image" content="/img/current.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://fessehaye.netlify.app/">
        <meta property="twitter:title" content="Simon Fessehaye's Personal Website">
        <meta property="twitter:description" content="Hey, my name is Simon! I am a Front End Developer living in Edmonton, Alberta.">
        <meta property="twitter:image" content="/img/current.png">
        <meta name="theme-color" content="#5a67d8"/>
        <meta name="author" content="{{site.author}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mada:wght@700&family=Overlock:wght@900&family=Proza+Libre&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="manifest" href="manifest.json">
        <link rel="apple-touch-icon" href="/img/icons/icon-192x192.png">
    </head>
    <body class="">
        <div class="w-full min-h-screen xl:h-screen relative">
            {% include "../components/_animated-bg.njk" %}
            <div class="hero-content">
                {{ content | safe }}
            </div>
        </div>
        <script>
            if ("serviceWorker" in navigator) 
                navigator
                    .serviceWorker
                    .register("/service-worker.js");
        </script>
        <script defer="async">
            document
                .body
                .classList
                .add("hidden");
        </script>
        <script defer="async" src="/js/gsap.min.js"></script>
        <script defer="async" src="/js/index.js"></script>

    </body>
</html>